<div id="<%= dom_id webhook_event %>">

  <p>
    <strong>Event type:</strong>
    <%= webhook_event.resource_type %>
  </p>

  <p>
    <strong>Event data:</strong>
    <%= webhook_event.action %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= webhook_event.object %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= webhook_event.resource %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= webhook_event.created_at %>
  </p>

</div>
