<p style="color: green"><%= notice %></p>

<%= render @webhook_event %>

<div>
  <%= link_to "Edit this webhook event", edit_webhook_event_path(@webhook_event) %> |
  <%= link_to "Back to webhook events", webhook_events_path %>

  <%= button_to "Destroy this webhook event", @webhook_event, method: :delete %>
</div>
